body {  
margin-right: 100px;
margin-left: 100px;
background-color: #E5E5E5;
}

.welcome__text {
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 35.16px;
}

/*img {padding-top: 50px;}*/

.righttop {
    float: right;
    right: 500px;
    padding-top: 50px;
}

.containerimagetext {
/* border: 3px solid blue; */
padding: 20px 40px 40px;
margin-top: 50px;
/* max-width: 640px;*/
}

.container__image {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 20px 30px 0 0;
    /*width:422px;
    height:496px;*/
}

.container__text {
    display: inline-block;
    width: 46%;
}

.who__we__are {
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 35.16px;
}

.who__we__are:before {
    content: "";
    position: absolute;
    width: 12.5%;
    height: 1px;
    bottom: 0;
    left: 43%;
    border-bottom: 4px solid #D89616;
}

p {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}

.container__form{
    width: 852px;
    height: 657px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 180px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 44px;
    padding-left: 78.58px;
    padding-right: 102px;
    font-family: Roboto;   
}

.form__header {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    line-height: 58.59px;
    margin-bottom: 21px;
}

label {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}

input[type=text], textarea {
    height: 43px;
    width: 100%;
    padding: 12px;
    border: 1px solid #0D0C0C;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 11px;
    margin-bottom: 23px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #004DE6;
    width: 217px;
    height: 40px;
    color: white;
    padding: 8px 20px 9px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
}

.submit__button {
    text-align: right;
    margin-top: 7px;
}